body{
background-size:100%;
background-repeat:repeat-y;  
color: #87CEEB;	
}

#login_border{	
	width: 500px;
	height:400px; 
	margin-top:160px;	
	box-sizing: border-box;
	padding-top:120px;
	padding-left:15px;	
	background-color: rgba(0, 0, 0, 0.700);
	border-radius: 20px;
}

#hompage:link{
	color: lightgray;
}
#hompage:hover{
	color: #1ccc5b;
}
#homepage:visited{
	color: lightgray;
}

#hompageborder{
	border:solid;
	border-radius:6px;
	border-width:7px;
	width:255px;
	background-color:rgba(0, 0, 0, 0.700);
}

#homepageborder:hover{
	background-color:#1ccc5a83;
}

#homepage{
font-family: Mochiy Pop P One;
font-size: 40px;	
text-decoration: none;
}

#new_account:link{
color:lightgray;	
}


#new_account:visited{
color:lightgray;	
}

#new_account{
font-family: Mochiy Pop P One;
font-size: 20px;	
text-decoration: none;	
}

#new_account:hover{
background-color:green;
}	

#table{	
font-family: Mochiy Pop P One;
}

#logo{
	width: 150px;
}

