body{
background-size:100%;
background-repeat:repeat-y;  
color: #87CEEB;	
}

#returnHome{
	background-color:rgba(0, 0, 0, 0.800);
	width:270px;
	text-align: center;
	border-radius:10px;
}

#returnHome:hover{
	background-color:rgba(0, 128, 0, 0.600);
}

#returnLink{
	font-family: Mochiy Pop P One;
    font-size: 35px;	  
	color:lightgray;
	text-align:none;
}

#login_border{	
	width: 500px;
	height:400px; 
	margin-top:160px;	
	box-sizing: border-box;
	padding-top:120px;
	padding-left:15px;	
	background-color: rgba(0, 0, 0, 0.700);
	border-radius: 20px;
}

#new_account:link{
color:lightgray;	
}


#new_account:visited{
color:lightgray;	
}

#new_account{
font-family: Mochiy Pop P One;
font-size: 20px;	
text-decoration: none;	
}

#new_account:hover{
background-color:green;
}	

#table{	
font-family: Mochiy Pop P One;
}

#logo{
	width: 150px;
}

