body{
	background-size:100%;
	color: #87CEEB;
	font-family: Mochiy Pop P One;
}
	
#returnHome{
	background-color:rgba(0, 0, 0, 0.800);
	width:270px;
	text-align: center;
	border-radius:10px;
}

#returnHome:hover{
	background-color:rgba(0, 128, 0, 0.600);
}

#returnLink{
	font-family: Mochiy Pop P One;
    font-size: 35px;	  
	color:lightgray;
	text-align:none;
}

#homepage_border{
	border:solid;
	border-radius:6px;
	border-width:7px;
	width:255px;
	border-color:rgb(6, 16, 45); 
	background-color:rgb(6, 16, 45);
}
#singup_border{
	width: 570px;
	height:550px; 
	margin-top:70px;	
	box-sizing: border-box;
	padding-top:35px;
	padding-left:15px;	
	background-color: rgba(0, 0, 0, 0.700);
	border-radius: 20px;
}

.inputText{
	padding-left:5px;
	padding-top:7px;
	padding-right:5px;
	padding-bottom:7px;
	border-radius:8px;
	border:solid rgba(0, 128, 0, 0.300);
	border-width:1px;
	background-color:rgba(211, 211, 211, 0.100);
	color:lightgray;
}

#address{
	border:solid rgba(0, 128, 0, 0.300);
	border-width:1px;
	border-radius:10px;
	background-color:rgba(211, 211, 211, 0.100);
	color:lightgray;
}

.inputButton{
	color:lightgray;
	background-color:#1ccc5a7a;
	border-color:transparent;
	border-radius:10px;
	width:80px;
	height:40px;
	font-size:17px;
}

.inputButton:hover{
	color: #1ccc5a;
	background-color:rgba(211, 211, 211, 0.300);
}